$icomoon-font-family: "font-icons" !default;
$icomoon-font-path: "fonts" !default;

$ic-minus: "\e90b";
$ic-arrow-down: "\e900";
$ic-arrow-left: "\e901";
$ic-arrow-right: "\e902";
$ic-arrow-top: "\e903";
$ic-camera: "\e904";
$ic-close: "\e905";
$ic-menu: "\e906";
$ic-search: "\e907";
$ic-social-gmail: "\e908";
$ic-social-insta: "\e909";
$ic-social-phone: "\e90a";

